* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	     -o-box-sizing: border-box;
			box-sizing: border-box;
}

body{
 	background: white; 
}

.navBar {
  	overflow: hidden;
  	background-color: #4d4dff;
  	height: auto;
}

.navBar a {
  	float: left;
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 20px;
  	opacity: 0.8;
  	border-right: 1px solid white; 
}

.navBar a:hover {
  	color: white;
  	opacity: 1;
}

.navBar #buttonLogOut:hover {
  	color: white;
  	opacity: 1;
}

.navBar #buttonLogOut {
  	border: none;
  	background-color: #4d4dff;
  	cursor: pointer;
  	float: left;
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 20px;
  	opacity: 0.8;
  	border-right: 1px solid white; 
}

.row{
	padding: 10px 200px 2px 200px;
}

.row .column{
	border-bottom: 1px solid gray;
}

.column #titlePost{
	font-size: 30px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

#titlePost:hover{
	color: #4d4dff;
}

.column #userPost{
	font-size: 20px;
	text-decoration: none;
	color: gray;
	cursor: pointer;
}

#userPost:hover{
	color: #4d4dff;
}

.newPost{
	padding: 10px 200px 10px 200px;
}

.newPost #newPostLink{
	text-decoration: none;
	cursor: pointer;
	font-size: 20px;
	color: gray;
}

.newPost #newUserLink{
	text-decoration: none;
	cursor: pointer;
	font-size: 20px;
	color: gray;
	margin-left: 1%;
}

.newPost #allUserLink{
	text-decoration: none;
	cursor: pointer;
	font-size: 20px;
	color: gray;
	margin-left: 1%;
}

#sortDiv{
	padding: 10px 200px 10px 200px;
	display: inline-block;
}

#sortDiv #sort{
	font-size: 23px;
	color: #333;
	display: inline-block;
}

#sortDiv .nameSort{
	font-size: 18px;
	color: #333;
	display: inline-block;
}

#sortDiv #okSort{
	font-size: 22px;
	color: white;
	background: #4d4dff;
	cursor: pointer;
	color: #333;
	border: none;
}

#searchDiv{
	padding: 10px 200px 10px 200px;
	display: inline-block;
}

#searchDiv #inputAuthor{
	font-size: 20px;
	color: gray;
	padding: 1px;
}

#searchDiv #okSearchButton{
	font-size: 25px;
	color: white;
	border: none;
	background: #4d4dff;
	width: 40px;
	cursor: pointer;
	padding: 2px;
}